/qqapp/
/storage/data/mongodb
/storage/data/mysql
/storage/napcat
/storage/yml/secret.yaml
/storage/yml/model.yaml
/storage/yml/user.yaml
/storage/lrobot.pem
/a.yml
/.idea
/secret.py
/storage/file/activity
/storage/file/resource
/storage/file/users
/storage/backup/
