/qqapp
/secret.py

/storage/data/backup
/storage/data/mongodb
/storage/data/mysql
/storage/data/napcat
/storage/data/map

/storage/file/clouddrive
/storage/file/command
/storage/file/recycle
/storage/file/resource
/storage/file/user
/storage/file/wiki

/storage/yml/model.yaml
/storage/yml/secret.yaml
/storage/yml/storage.yaml
/storage/yml/user.yaml

/storage/lrobot.pem

/.idea
