/storage/yml/model.yaml

/command/lrobot.pem

/secret.py
/storage/yml/agent.yaml
/storage/yml/secret.yaml
/storage/yml/storage.yaml
/storage/yml/user.yaml

/storage/data/backup
/storage/data/map
/storage/data/mihomo/cache.db
/storage/data/mihomo/config.yaml
/storage/data/mongodb
/storage/data/mysql
/storage/data/napcat

/storage/file/recycle
/storage/file/user

/storage/file/clouddrive
/storage/file/resource
/storage/file/command/money.jpg
/storage/file/command/hunt
/storage/file/command/record

/.idea

__pycache__/
/storage/file/command/textgame
/storage/file/command/*.wav
